/* Visuel alignement matters deleting  */
.coeff {
    display: flex;
    align-items: center;
}

.deleteButton {
    background-color: #c1121f;
    padding: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 23%;
    cursor: pointer;
    margin-left: 9%;
    margin-bottom: 20px;
}

.deleteButton:hover {
    background-color: #e76f51;
    transition: background-color 0.3s ease-in-out;   
}



/* Visual of title of groups */
.dropDown {
    display: flex;
    align-items: center;
}

.chevron {
    margin-left: auto;
    cursor: pointer;
}

.chevron .up{
    background-color: #e76f51;
    padding: 8px 10px;
    border-radius: 15px;
}

.chevron .left{
    background-color: #e76f51;
    padding: 10px 13px;
    border-radius: 15px;
}

.groupTitle {
    height: fit-content;
    cursor: pointer;
    font-size:150%;
    font-weight: bolder;
}



/* get each group a border */
.borderGroup {
    border-bottom: 1px solid;
    margin-top: 4%;
    margin-bottom: 4%;
}



/* Bigger visual for group info */
.groupLabel {
    font-size: 110%;
    color: black;
}

.groupName {
    margin-top: 3%;
    font-size:140%;
    font-weight: bolder;
  }