/* Reset default styles */

  
  /* Style the header */
  header {
    background-color: #faedcd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  
  /* Style the navigation */
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #212529;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #007BFF;
  }